.container {
    position: relative;
}

.box {
     position: absolute;
    height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.box:nth-child(1){
    background-color: rgb(211, 248, 0);
    z-index: -1;
}

.box:nth-child(2){
    top: 100px;
    left: 100px;
    background-color: rgb(100, 116, 83);
    z-index: 1;
}

.box:nth-child(3){
    top: 200px;
    left: 200px;
    background-color: rgb(117, 18, 209);
    z-index: -1;
}